= render :partial => 'types', :object => %w(beer highball wine teapot)

.main
  #logo
  .content#book
    .cover
      %img{:src => @book.image_url}
    .recipe
      %h1== You're reading #{@book.title}.
      %h2 How about sipping on a #{@drink.name}?
      - if @drink.recipe_html.present?
        = raw @drink.recipe_html
      - if @shelf.explanation.present?
        %p.explanation= @shelf.explanation

= render :partial => 'types', :object => %w(cocktail shots testtube lowball)
