%p.new= link_to t('.new'), new_admin_shelf_path
%ul.shelves
  - @shelves.each do |shelf|
    %li
      .shelf= link_to shelf.name, edit_admin_shelf_path(shelf)
      - if shelf.drink
        .drink= shelf.drink.name
      .destroy
        = form_tag admin_shelf_path(shelf), :method => 'delete' do
          = submit_tag t('.destroy')
%p.pagination= paginate @shelves
